/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #24353f, #24353f);
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  width: 100%;
}

/* Card Styling */
.card {
  background-color: #24353f;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

h3{

  color: #17a2b8;
}

/* Heading Styles */
.card h3 {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #17a2b8;
}
/* Input Fields */
.form-floating input {
  background-color: #24353f;
  border: 1px solid #4a627e;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 15px;
}

.form-floating input:focus {
  outline: none;
  border-color: #00d7ff;
  box-shadow: 0px 0px 5px rgba(0, 215, 255, 0.5);
}

.form-floating label {
  color: #8ba1b7;
}

.form-floating input::placeholder {
  color: #8ba1b7;
}

/* Buttons */
button {
  background-color: #00d7ff;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-top: 1.5rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00a5cc;
}

button:active {
  transform: scale(0.98);
}

.btn-outline-info {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}

/* Links */
a {
  color: #00d7ff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Error Messages */
small {
  color: #ff5e57;
  font-size: 0.85rem;
}

/* Responsive */
@media (max-width: 576px) {
  .card {
    padding: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}